.gradient-border {
    position: relative;
    display: inline-block;
  }
  
  .gradient-border::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(90deg, #2F69B1 0%, #53A4FF 100%);
    border-radius: 8px; /* Adjust based on your element's border-radius */
  }
  
  /* Optional: Add a background to the actual element inside the border */
  .gradient-border .content {
    position: relative;
    background: white; /* Adjust to your needs */
    padding: 20px;
    border-radius: 6px; /* Should be less than the pseudo-element's border-radius */
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  